/* Applies Styling to All Elements on the Page */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Styling */

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
}

/* Header Styling */

header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    display: inline-block;
    font-size: 52px;
}

/* Navigation Bar Styling */

.navbar {
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}

  /* Navigation Bar Links */

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

/* Navigation Bar Links on Mouse-Over */

.navbar a:hover {
    background-color: red;
}

/* Current/active navbar link */

.active {
    background-color: darkgray;
}

/* Add Responsiveness: Will Automatically Display the Navbar 
Vertically Instead of Horizontally on Screens Less Than 500 Pixels */

@media screen and (max-width: 500px) {
    .navbar a {
    float: none;
    display: block;
    }
}

/* Footer Styling */

.footer {
    padding: 30px;
    text-align: center;
    clear: both;
}

.footer h4 {
    color: white;
    font-size: 20px;
}